@media screen and (max-width: 600px) {
    .container-section {
        flex-direction: column;
    }

    .items-container {
        flex-direction: column;
        margin-left: 65px;
    }

    .banner-container {
        width: 100%;
    }

    .banner-title {
        font-size: 30px;
    }

    .input-button {
        flex-direction: column;
        height: 20%;
        margin-left: 10px;
        gap: 5px;
        width: 90%;
    }

    .input-button input {
        border-radius: 10px;
        height: 60px;
        width: 90%;
        border: none;
        gap: 5px;
    }

    .btn-primary {
        width: 190px;
        text-align: center;

    }

    .popular-container {
        flex-direction: column;
        width: 100%;
        margin: 0px;

    }

    .popular-title {
        width: 100%;
        align-items: center;

    }

    .popular-image {
        width: 100%;
    }
    .popular-image img{
        width: 100%;
        height: 100%;
    }

    .grid-title {
        width: 100%;

    }

    .gallery {
        grid-template-columns: 1;
        
    }




    .service-description {
        width: 100%;
        height: 100%;

    }

    .service {
        width: 100%;
        height: 100%;
        grid-template-columns: none;


    }

    .service-1 {
        margin-left: 0px;
    }

    .service-container {
        width: 100%;
        height: 100%;
        text-align: left;

    }

    .service-3 {
        margin-left: 0px;
    }
    .form-section {
        height: 100%;
        flex-direction: column;
      
    }
    .newsletter-image-section{
        order: 1;
        
    }
    .form-container {
        order: 2;
    
    }

    .footer-icons {
        width: 100%;
        border-bottom: 1px solid #1313181A;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }


}